.section {
  width: 50%;
}

.tabsList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ingridientsContainer {
  height: 756px;
  overflow-y: scroll;
  padding: 40px 0 0;
}
.ingridientsContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}
.ingridientsContainer::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
