.section {
  width: 50%;
  --amountOfTabs: 3;
}

.tabsList {
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tabsItem {
  width: calc(100% / var(--amountOfTabs));
}

.ingridientsContainer {
  height: 756px;
  overflow-y: scroll;
  padding: 40px 0 0;
}
