.section {
  width: 50%;
}

.tabsList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.productsList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 32px;
}

.productsImage {
  text-align: center;
}

.productsItems {
  position: relative;
  width: 50%;
}

.productsPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productsDescription {
  text-align: center;
}

.ingridientsContainer {
  height: 756px;
  overflow-y: scroll;
  padding: 40px 0 0;
}
.ingridientsContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}
.ingridientsContainer::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
