.productsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productsItem {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section {
  width: 50%;
}

.checkout {
  display: flex;
  justify-content: flex-end;
}

.constructorContainer {
  height: 756px;
  overflow-y: scroll;
  padding: 40px 0 0;
}
.constructorContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}
.constructorContainer::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
